<li class="product product-{{ id }}" data-id="{{ id }}">
    <div class="product-image">
        <a href="#0"><img src="{{ image_path }}" class="img-responsive" alt="placeholder"></a>
    </div>

    <div class="product-details">
        <h3><a href="#0">{{ name }}</a></h3>
        <span class="price">{{ price }} EUR</span>
        <div class="actions">
            <a href="#0" class="delete-item">{{ 'Delete'|trans }}</a>

            <div class="quantity">
                <label for="cd-product-qty-{{ id }}">{{ 'Qty'|trans }}</label>
                <input type="number" id="cd-product-qty-{{ id }}" name="quantity" value="{{ quantity|default(1) }}" min="1" />
            </div>
        </div>
    </div>
</li>