{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if not cart is empty %}
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width:55%">{{ 'Product'|trans }}</th>
                    <th style="width:10%">{{ 'Price'|trans }}</th>
                    <th style="width:10%">{{ 'Quantity'|trans }}</th>
                    <th style="width:22%" class="text-center">{{ 'Subtotal'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in cart %}

                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs">
                                        <img src="{{ (item.product.image) ? vich_uploader_asset(item.product, 'imageFile') | imagine_filter('product_cart_thumbnail') : asset('bundles/app/img/product-preview.png') }}" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">{{ item.product.name }}</h4>
                                        <p>{{ item.product.description|truncate(100) }}</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">{{ item.product.price|number_format(2) }} EUR</td>
                            <td data-th="Quantity">
                                <input type="number" class="form-control text-center" value="{{ item.quantity }}" disabled>
                            </td>
                            <td data-th="Subtotal" class="text-center">{{ item.totalPrice|number_format(2) }} EUR</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr class="visible-xs">
                    <td class="text-center"><strong>{{ 'Total %0.2f EUR'|trans|format(totalPrice) }}</strong></td>
                </tr>
                <tr>
                    <td><a href="{{ path('product_index') }}" class="btn btn-warning"><i class="fa fa-angle-left"></i> {{ 'Continue Shopping'|trans }}</a></td>
                    <td class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>{{ 'Total %0.2f EUR'|trans|format(totalPrice) }}</strong></td>
                    <td>
                        <form action="{{ path('checkout_index') }}" method="post">
                            <button type="submit" class="btn btn-success btn-block">{{ 'Buy'|trans }} <i class="fa fa-angle-right"></i></button>
                        </form>
                    </td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <div class="alert alert-warning">
                {{ 'There is no any items'|trans }}
            </div>

            <a href="{{ path('product_index') }}" class="btn btn-warning"><i class="fa fa-angle-left"></i> {{ 'Continue Shopping'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block shopping_cart %}{% endblock %}