<div class="cd-cart-container{% if cart is empty %} empty{% endif %}">
    <a href="#0" class="cd-cart-trigger">
        Cart
        <ul class="count list-unstyled">
            <li>0</li>
            <li>0</li>
        </ul>
    </a>

    <div class="cd-cart">
        <div class="wrapper">
            <header>
                <h2>{{ 'Cart'|trans }}</h2>
                <span class="undo">{{ 'Item removed.'|trans }} <a href="#0">{{ 'Undo'|trans }}</a></span>
            </header>

            <div class="body">
                <ul class="list-unstyled">
                    {% for item in cart %}
                        {% include 'cart/_product_prototype.html.twig' with {
                            'id': item.product.id,
                            'image_path': (item.product.image) ? vich_uploader_asset(item.product, 'imageFile') | imagine_filter('product_cart_thumbnail') : asset('bundles/app/img/product-preview.png'),
                            'name': item.product.name,
                            'price': item.product.price,
                            'quantity': item.quantity
                        }%}
                    {% endfor %}
                </ul>
            </div>

            <footer>
                <a href="{{ path('cart_index') }}" class="checkout"><em>{{ 'Checkout'|trans }} - <span>0</span> EUR</em></a>
            </footer>
        </div>
    </div>
</div>

<template class="cd-cart-product-prototype" data-add-url="{{ path('cart_add_product') }}" data-remove-url="{{ path('cart_remove_product') }}" style="display: none;">
    {% include 'cart/_product_prototype.html.twig' with {
        'id': '__PRODUCT_ID__',
        'image_path': '__PRODUCT_IMAGE__',
        'name': '__PRODUCT_NAME__',
        'price': '__PRODUCT_PRICE__',
    }%}
</template>