{% set messageTypes = ['warning', 'danger', 'info', 'success'] %}

{% for type in messageTypes %}
    {% for flashMessage in app.session.flashbag.get(type) %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endfor %}