<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                'components/bootstrap/dist/css/bootstrap.css'
                'bundles/app/css/app.css'
                'bundles/app/css/cart.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" media="all" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Simple e-shop</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a></li>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('user_change_password') }}">{{ 'Change password'|trans }}</a></li>
                            <li><a href="{{ path('security_logout') }}">{{ 'Logout'|trans }}</a></li>
                        {% else %}
                            <li><a href="{{ path('security_login') }}">{{ 'Login'|trans }}</a></li>
                            <li><a href="{{ path('user_register') }}">{{ 'Register'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="starter-template"></div>

            {% include '_flash.html.twig' %}

            {% block body %}{% endblock %}

            {% block shopping_cart %}
                {{ render(controller('AppBundle:Cart:widget')) }}
            {% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts
                'components/jquery/dist/jquery.js'
                'components/bootstrap/dist/js/bootstrap.js'
                'bundles/app/js/cart.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>