{% extends 'base.html.twig' %}

{% form_theme filterForm 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="row products-top">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="col-xs-12 text-right">
                <a href="{{ path('product_create') }}" class="btn btn-primary">{{ 'Add product'|trans }}</a>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-3">
            <p class="lead">{{ 'Filters'|trans }}</p>

            <form action="" method="get" class="form-horizontal">
                {{ form_row(filterForm.category) }}
                {{ form_row(filterForm.sort) }}

                <div class="text-right">
                    <button class="btn btn-primary">{{ 'Filter'|trans }}</button>
                </div>
            </form>
        </div>

        <div class="col-md-9">
            <div class="row">

                {% for product in pagination %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            {% if product.image %}
                                <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('product_thumbnail') }}" alt="{{ product.name }}">
                            {% else %}
                                <img src="http://placehold.it/320x150" alt="{{ 'No image'|trans }}">
                            {% endif %}

                            <div class="caption">
                                <h4 class="pull-right">{{ product.price|number_format(2) }} EUR</h4>
                                <h4><a href="{{ path('product_show', {'product': product.id}) }}">{{ product.name }}</a></h4>
                                <p>{{ product.description|truncate(100) }}</p>
                            </div>

                            <div class="text-center">
                                <a href="#0"
                                   class="cd-add-to-cart"
                                   data-id="{{ product.id }}"
                                   data-name="{{ product.name }}"
                                   data-image="{{ (product.image) ? vich_uploader_asset(product, 'imageFile') | imagine_filter('product_cart_thumbnail') : asset('bundles/app/img/product-preview.png') }}"
                                   data-price="{{ product.price }}"
                                >
                                    {{ 'Add To Cart'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        {{ 'There is no any items'|trans }}
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="navigation text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
