{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('product_review') }} " class="img-responsive" alt="{{ product.name }}">
            {% else %}
                <img src="http://placehold.it/500x500" alt="{{ 'No image'|trans }}" class="img-responsive">
            {% endif %}
        </div>
        <div class="col-md-6">
            <dl>
                <dt>{{ 'Name'|trans }}</dt>
                <dd>{{ product.name }}</dd>

                <dt>{{ 'Price'|trans }}</dt>
                <dd>{{ product.price|number_format(2) }} EUR</dd>

                <dt>{{ 'Description'|trans }}</dt>
                <dd>{{ product.description }}</dd>
            </dl>

            <a href="#0"
               class="cd-add-to-cart"
               data-id="{{ product.id }}"
               data-name="{{ product.name }}"
               data-image="{{ (product.image) ? vich_uploader_asset(product, 'imageFile') | imagine_filter('product_cart_thumbnail') : asset('bundles/app/img/product-preview.png') }}"
               data-price="{{ product.price }}"
            >
                {{ 'Add To Cart'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
