{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('security_login') }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="username">{{ 'Email'|trans }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="password">{{ 'Password'|trans }}</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-primary">{{ 'Login'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
